.ybtn {
    color: #ffffff;
    background-color: #383ebf;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 4px 20px;
    margin: 5px 10px;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.ybtn:hover, .ybtn:focus {
    color: #ffffff;
    background-color: #383ebf;
    text-decoration: none;
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}